$grid_collums: 160px;

img
{
  width: 100%;
}

.container
{
  max-width: 1024px;
  width: 100%;
}
  /*.container > .one-third, .row > .one-third
  {
    margin-right: 1%;
  }
  .container > .one-third ~ .one-third, .row > .one-third ~ .one-third
  {
    margin-right: 0;
  } */

.container_Auto
{
  @extend .container;
  margin: auto;
}

.row
{
  width: 100%;
}

.container:after, .row:after
{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.columns
{
 float: left;
 margin-bottom: 5px;
}

.column
{
  @extend .columns;
}

.one-half
{
  width: 50%;
}

.one-third
{
  width: 33%;
  margin-right: 0.3333%;
}

.one
{
  width: 10px / $grid_collums * 100%;
}

.two
{
  width: 20px / $grid_collums * 100%;
}

.three
{
  width: 30px / $grid_collums * 100%;
}

.four
{
  width: 40px / $grid_collums * 100%;
}

.five
{
  width: 50px / $grid_collums * 100%;
}

.six
{
  width: 60px / $grid_collums * 100%;
}

.seven
{
  width: 70px / $grid_collums * 100%;
}

.eight
{
  width: 80px / $grid_collums * 100%;
}

.nine
{
  width: 90px / $grid_collums * 100%;
}

.ten
{
  width: 100px / $grid_collums * 100%;
}

.eleven
{
  width: 110px / $grid_collums * 100%;
}

.twelve
{
  width: 120px / $grid_collums * 100%;
}

.thirteen
{
  width: 130px / $grid_collums * 100%;
}

.fourteen
{
  width: 140px / $grid_collums * 100%;
}

.fifteen
{
  width: 150px / $grid_collums * 100%;
}

.sixteen
{
  width: 160px / $grid_collums * 100%;
}

@media (max-width: 550px) {
  .one, .two, .three, .four, .five, .fifteen, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen, .one-third, .one-half
  {
    width: 100%;
    margin-left: 0 !important;
  }
};

.offset-by-one
{
  margin-left: 10px / $grid_collums * 100%;
}

.offset-by-two
{
  margin-left: 20px / $grid_collums * 100%;
}

.offset-by-three
{
  margin-left: 30px / $grid_collums * 100%;
}

.offset-by-four
{
  margin-left: 40px / $grid_collums * 100%;
}

.offset-by-five
{
  margin-left: 50px / $grid_collums * 100%;
}

.offset-by-six
{
  margin-left: 60px / $grid_collums * 100%;
}

.offset-by-seven
{
  margin-left: 70px / $grid_collums * 100%;
}

.offset-by-eight
{
  margin-left: 80px / $grid_collums * 100%;
}

.offset-by-nine
{
  margin-left: 90px / $grid_collums * 100%;
}

.offset-by-ten
{
  margin-left: 100px / $grid_collums * 100%;
}